<div class="jumbotron">
  <h1>Workout App</h1>

  <div>Show off your workout</div>
</div>

<div class="row">
  <div class="col-md-10">
    <h2>List of Members</h2>
    <%= will_paginate @members, renderer: BootstrapPagination::Rails, class: "pull-left paginate" %>
  </div>
</div>

<div class="row">
  <% @members.each do |member| %>
    <div class="col-md-10 well member">
      <%= member.full_name %>
    </div>
  <% end %>
</div>